body {
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
}

h1 {
  text-align: center;
}
.todo-wrapper {
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27, 23);
}

.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.todo-input-item label {
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-item input {
  padding: 8px;
  border: none;
  width: 250px;
}

.todo-input-item input:focus {
  outline: none;
  outline: 2px solid rgb(0, 230, 125);
}

.primaryBtn {
  background-color: rgb(0, 230, 125);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primaryBtn:hover {
  background-color: rgb(5, 190, 107);
}

.secondaryBtn {
  background-color: rgb(71, 71, 71);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

/* .secondaryBtn:hover {
  background-color: rgb(55, 55, 55);
} */

.active {
  background-color: rgb(0, 230, 125);
}
